.container{
    display:flex;
    /* justify-content: center;
    align-items: center; */
}
h2{
    border:2px solid red;

}
.box {
    flex:1;
    /* display: inline; */
    margin-top: 24px;
    margin-left: 3px;
    background-color: rgb(10, 177, 10);
    width: 12px;
    height: 18px;
    /* border:2px solid red; */
}

.right{
    border: 2px solid red;

}
